<section class="reservation-section">
  <mat-card class="reservation-card">
    <h1 class="title">Reservar el Espacio</h1>
    <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">

      <div class="form-row">
        <mat-form-field class="full-width">
          <mat-label>Nombre del Espacio</mat-label>
          <input matInput [value]="space?.name" disabled>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="full-width">
          <mat-label>Fecha de la Reserva</mat-label>
          <input matInput formControlName="event_name" placeholder="Selecciona la fecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="reservationForm.get('event_name')?.invalid">Este campo es obligatorio</mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="full-width">
          <mat-label>Fecha de la Reserva</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="reservation_date" placeholder="Selecciona la fecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="reservationForm.get('reservation_date')?.invalid">Este campo es obligatorio</mat-error>
        </mat-form-field>
      </div>

      <div class="form-row time-row">
        <mat-form-field class="time-width">
          <mat-label>Hora de Inicio</mat-label>
          <input matInput formControlName="start_time" placeholder="HH:MM" type="time">
          <mat-error *ngIf="reservationForm.get('start_time')?.invalid">Este campo es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field class="time-width">
          <mat-label>Hora de Fin</mat-label>
          <input matInput formControlName="end_time" placeholder="HH:MM" type="time">
          <mat-error *ngIf="reservationForm.get('end_time')?.invalid">Debe ser después de la hora de inicio</mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" class="submit-btn" type="submit" [disabled]="reservationForm.invalid">Reservar</button>
    </form>

    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </mat-card>
</section>
